---
layout: default
---
<section>
    <!-- Page content goes here -->

    <div class="row">
        <div class="span12">
            <section>
                <div class="page-header">
                    <h2>U-QASAR Methodology Webbook</h2>
                </div>
                <p>This is the Prototype of the U-QASAR Methodology Webbook.
                    The main objective of U-QASAR is to create a flexible Quality Assurance,
                    Control and Measurement methodology to assess the quality of software
                    development projects and their resulting products. The U-QASAR platform
                    enables measurement of the quality of the process and product at any time.</p>
            </section>
        </div>
    </div>

</section>

<h2>Section 1: Planning the Measurement Program</h2>
{% for part in site.data.section1 %}
<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Part 1.{{  part.order  }} : {{  part.title  }}</h3>
        </div>
        <div class="panel-body">
            <p>
                {{  part.summary  }}
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Part overview</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Step</th>
                                <th>Summary</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            {% assign order = part.order %}       
                            {% if part.order == 1 %}
                                {% assign steps = site.part11 | sort: 'order' %}       
                            {% elsif part.order == 2 %}
                                {% assign steps = site.part12 | sort: 'order' %}       
                            {% elsif part.order == 3 %}
                                {% assign steps = site.part13 | sort: 'order' %}       
                            {% endif %}
                            {% for step in steps %}
                            <tr>
                                <th scope="row">{{ step.order }}</th>
                                <td><a href="./{{ step.url }}">{{ step.title }}</a></td>
                                <td>{{ step.summary }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<h2>Section 2: Controlling the Daily Software Development </h2>
<h2>Section 3: Driving Process Improvement with Measurements</h2>
<h2>Section 4: Evolutionary Refinement of the Measurement Program: Examples of Agile and Lean Measurement</h2>