{% assign flyers = site.[this_part] | where:'type', 'flyer' %}
{% if flyers != empty %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Flyers</h4>
  </div>
  <div class="panel-body">
    <div class="flyers-list">
    
      <ul>
        {% for flyer in flyers %}
        {% capture id %}{{ flyer.title | replace: ' ', '_' }}{% endcapture %}
        <li><a class="inline flyer-link" href="#{{ id }}">{{ flyer.title }}</a> <a onclick="printFlyer('{{ this_part }}/{{ flyer.title | downcase| replace: ' ', '-'}}.html')" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true" aria-label="print flyer"></span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}