<div class="flyers-list">
    {% assign flyers = site.[this_part] | where:'type', 'flyer' %}
    <ul>
    {% for flyer in flyers %}
      {% capture id %}{{ flyer.title | replace: ' ', '_' }}{% endcapture %}
      <li><a class="inline flyer-link" href="#{{ id }}">{{ flyer.title }}</a> <a onclick="printFlyer('{{ this_part }}/{{ flyer.title | | replace: ' ', '-'}}.html')" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true" aria-label="print flyer"></span></a></li>
    {% endfor %}
  </ul>
</div>