{% assign section_index = section_order | minus: 1 %}
{% assign section = site.data.sections[section_index] %}
{% capture this_section %}section{{ section.order }}{% endcapture %}
{% assign section_data = site.data.[this_section] %}

<h2>Section {{ section.order }}: {{ section.title }}
<span class="bookref"> ( <span class="glyphicon glyphicon-zoom-in" aria-label="Reference to Methodology Workbook" aria-hidden="true"></span> Section {{ section_data.bookref }} )</span>
</h2>
<h3>Checklist</h3>
<ul>
    {% for item in section_data.checklist %}
        <li>{{ item.item }}</li>
    {% endfor %}
</ul>
{% if section_data.description %}
<h3>Description</h3>
<p>
  {{ section_data.description }}
</p>  
{% endif %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for part in section_data.parts %}
    {% capture this_part %}part{{ section.order }}{{ part.order }}{% endcapture %}
    <div class="panel panel-default" role="tab" id="header{{ this_part }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ this_part }}" aria-expanded="true" aria-controls="{{ this_part }}">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    Part {{ section.order }}.{{  part.order  }} : {{  part.title  }}</a> <span class="bookref"> ( <span class="glyphicon glyphicon-zoom-in" aria-label="Reference to Methodology Workbook" aria-hidden="true"></span> Section {{ part.bookref }} )</span>
            </h3> 
        </div>
        <div id="{{ this_part }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header{{ this_part }}">
            <div class="panel-body">
                <p>
                    {{  part.summary  }}
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Flyers</h4>
                    </div>
                    <div class="panel-body">
                        {% include flyers.html %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Guidelines</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Guideline</th>
                                    <th>Description</th>                               
                                </tr>
                            </thead>
                            <tbody>                        
                                {% assign part_index = part.order | minus: 1 %}
                                {% if section_data.parts[part_index].guidelines %}
                                {% assign guidelines = section_data.parts[part_index].guidelines | sort: 'order' %}
                                {% for guideline in guidelines %}
                                <tr>
                                    <td>{{ guideline.guideline }}</td>
                                    <td>{{ guideline.description }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="well">
                {% assign descriptions = site.[this_part] | where:'type', 'description' %}
                {% for description in descriptions %}
                    {{ description.content | markdownify }}
                {% endfor %}
            </div>
            <div class="flyers" style="display:none">
                {% assign flyers = site.[this_part] | where:'type', 'flyer' %}
                    {% for flyer in flyers %}
                        {% capture id %}{{ flyer.title | replace: ' ', '_' }}{% endcapture %}
                        <section class="flyer" id="{{ id }}" style='padding:10px; background:#fff;'>
                            <h2>{{ flyer.title }}</h2>
                            {{ flyer.content | markdownify }}
                        </section>
                    {% endfor %}
            </div>
        </div>
    </div>    
{% endfor %}
</div>
